<ion-header mode="ios" class="ion-no-border">
  <!-- <ion-fab horizontal="end" *ngIf="type == 'pending'">
    <ion-fab-button
      fill="clear"
      size="small"
      color="transparent"
      (click)="openInfo()"
    >
      <ion-icon color="light" name="information-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon
          src="../../../../assets/icon/air-selangor-icon.svg"
          style="font-size: 2rem"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="ion-text-center ion-text-wrap" style="font-weight: bold">
      Work Activity Information - {{ status }}
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          color="first"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
        <ion-badge
          size="small"
          color="danger"
          style="position: absolute; right: -5px; top: 1px"
          >{{ notificationService.totalnotificationbyuser }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-card *ngFor="let workactivity of workactivities">
    <ion-card-header>
      <ion-fab horizontal="end">
        <ion-fab-button
          size="small"
          color="light"
          (click)="clickWorkActivity(workactivity)"
        >
          <ion-icon name="build"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-card-title
        >Work Activity No: {{ workactivity.activity_id }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <p>Status: {{ workactivity.bo_status }}</p>
      <p>Asset ID: {{ workactivity.asset_id }}</p>
      <p>Required By Date: {{ workactivity.required_by_date }}</p>
      <p>Parent Location: {{ workactivity.parent_location }}</p>
      <p class="ion-text-justify">Description: {{ workactivity.description }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <div class="ion-padding">
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="pending">
        <ion-label style="font-weight: bold">New / In Progress</ion-label>
        <ion-icon name="business"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label style="font-weight: bold">Completed</ion-label>
        <ion-icon name="briefcase"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <!-- <div [ngSwitch]="type">
    <div *ngSwitchCase="'pending'">
      <div>
        <ion-list class="line-input">
          <ion-grid class="ion-padding-start ion-padding-end">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked"
                    >Please select work activity status</ion-label
                  >
                  <ion-select
                    [(ngModel)]="category"
                    (ionChange)="categorySelect()"
                  >
                    <ion-select-option
                      [value]="category.value"
                      *ngFor="let category of categorys"
                      >{{ category.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="ion-padding-start ion-padding-end">
            <ion-row>
              <ion-col size="6" class="ion-text-center">
                <ion-item>
                  <ion-label position="stacked">Start Date</ion-label>
                  <ion-datetime
                    displayFormat="DD-MM-YYYY"
                    placeholder="Select date"
                    [(ngModel)]="startdatePending"
                    (ionChange)="dateSelectPending()"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-text-center">
                <ion-item>
                  <ion-label position="stacked">End Date</ion-label>
                  <ion-datetime
                    displayFormat="DD-MM-YYYY"
                    placeholder="Select date"
                    [(ngModel)]="enddatePending"
                    (ionChange)="dateSelectPending()"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-card
          *ngFor="let pending of pendings"
          [color]="pendingColor(pending.bo_status)"
        >
          <ion-card-header>
            <ion-fab horizontal="end">
              <ion-fab-button
                size="small"
                color="light"
                (click)="clickWorkActivity(pending)"
              >
                <ion-icon name="build"></ion-icon>
              </ion-fab-button>
            </ion-fab> -->
  <!-- <ion-card-title>Work Activity No: {{ pending.ACT_ID }}</ion-card-title> -->
  <!-- <ion-card-title>Work Activity No: {{ pending.activity_id }}</ion-card-title>
          </ion-card-header> -->
  <!-- <ion-card-content>
            <p>Status: {{ pending.BO_STATUS_CD }}</p>
            <p>Activity Type: {{ pending.ACT_TYPE_CD }}</p>
            <p>Required By Date: {{ pending.REQUIRED_BY_DT }}</p>
            <p>Node ID: {{ pending.NODE_ID }}</p>
            <p class="ion-text-justify">Description: {{ pending.DESCR100 }}</p>
          </ion-card-content> -->
  <!-- <ion-card-content>
            <p>Status: {{ pending.bo_status }}</p>
            <p>Asset ID: {{ pending.asset_id }}</p>
            <p>Required By Date: {{ pending.required_by_date }}</p>
            <p>Parent Location: {{ pending.parent_location }}</p>
            <p class="ion-text-justify">Description: {{ pending.description }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div> -->

  <!-- <div *ngSwitchCase="'completed'">
      <ion-list class="line-input">
        <ion-grid class="ion-padding-start ion-padding-end">
          <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-label position="stacked">Start Date</ion-label>
                <ion-datetime
                  displayFormat="DD-MM-YYYY"
                  placeholder="Select date"
                ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-label position="stacked">End Date</ion-label>
                <ion-datetime
                  displayFormat="DD-MM-YYYY"
                  placeholder="Select date"
                ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-card *ngFor="let completed of completeds">
        <ion-card-header>
          <ion-fab horizontal="end">
            <ion-fab-button
              size="small"
              color="light"
              (click)="clickWorkActivity(completed)"
            >
              <ion-icon name="eye"></ion-icon>
            </ion-fab-button>
          </ion-fab> -->
  <!-- <ion-card-title>Work Activity No: {{ completed.ACT_ID }}</ion-card-title> -->
  <!-- <ion-card-title>Work Activity No: {{ completed.activity_id }}</ion-card-title>
        </ion-card-header> -->
  <!-- <ion-card-content>
          <p>Status: {{ completed.BO_STATUS_CD }}</p>
          <p>Activity Type: {{ completed.ACT_TYPE_CD }}</p>
          <p>Required By Date: {{ completed.REQUIRED_BY_DT }}</p>
          <p>Node ID: {{ completed.NODE_ID }}</p>
          <p class="ion-text-justify">Description: {{ completed.DESCR100 }}</p>
        </ion-card-content> -->
  <!-- <ion-card-content>
          <p>Status: {{ completed.bo_status }}</p>
          <p>Asset ID: {{ completed.asset_id }}</p>
          <p>Required By Date: {{ completed.required_by_date }}</p>
          <p>Parent Location: {{ completed.parent_location }}</p>
          <p class="ion-text-justify">Description: {{ completed.description }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div> -->
</ion-content>
