<ion-header mode="ios" class="ion-no-border">
  <!-- <ion-fab horizontal="end" *ngIf="type == 'pending'">
    <ion-fab-button
      fill="clear"
      size="small"
      color="transparent"
      (click)="openInfo()"
    >
      <ion-icon color="light" name="information-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="ion-text-center ion-text-wrap" style="font-weight: bold">
      {{ statuses }}
    </div> 
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="first" slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-text-center">
    <img [src]="image" style="width: 30%" />
    <h4 style="color: var(--ion-color-primary)">{{ name }}</h4>
  </div>
  <!-- <div *ngIf="workactivities.length != 0">
    <h6 class="ion-text-center">You have Id {{ status }} Work Activity</h6>
  </div> -->
  <ion-card *ngFor="let workactivity of workactivitiesDatas">
    <ion-card-header>
      <ion-fab horizontal="end">
        <ion-fab-button *ngIf="workactivity.field_2 == ''" size="small" color="light"
          (click)="presentAlertConfirm(workactivity)">
          <ion-icon name="build"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="workactivity.field_2 != ''" size="small" color="light"
          (click)="clickWorkActivity(workactivity)">
          <ion-icon name="build"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-card-title>Work Activity ID</ion-card-title>
      <ion-card-subtitle>{{ workactivity.activityid }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p style="font-size:15px;font-weight: bold;">Required By Date: {{ workactivity.required_by_dt }}</p>
      <p>Status: {{ workactivity.status }}</p>
      <p>Parent Location: {{ workactivity.assetLocatioSyncdata }}</p>
      <p class="ion-text-justify">
        Description: {{ workactivity.descrlong }}
      </p>
    </ion-card-content>
  </ion-card>
  <div style="padding-bottom: 200px;">&nbsp;</div>
</ion-content>