<ion-header mode="ios" class="ion-no-border">
  <!-- <ion-fab horizontal="end" *ngIf="type == 'pending'">
    <ion-fab-button
      fill="clear"
      size="small"
      color="transparent"
      (click)="openInfo()"
    >
      <ion-icon color="light" name="information-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="homePage('/technical/tabs/tab1')">
        <ion-icon
          src="../../../../assets/icon/air-selangor-icon.svg"
          style="font-size: 2rem"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="ion-text-center ion-text-wrap" style="font-weight: bold">
      Work Activity Information
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          color="first"
          slot="icon-only"
          name="notifications"
        ></ion-icon>
        <ion-badge
          size="small"
          color="danger"
          style="position: absolute; right: -5px; top: 1px"
          >{{ notificationService.totalnotificationbyuser }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-padding">
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="pending">
        <ion-label style="font-weight: bold">New / In Progress</ion-label>
        <ion-icon name="business"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label style="font-weight: bold">Completed</ion-label>
        <ion-icon name="briefcase"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'pending'">
      <div>
        <ion-list class="line-input">
          <ion-grid class="ion-padding-start ion-padding-end">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked"
                    >Please select work activity status</ion-label
                  >
                  <ion-select
                    [(ngModel)]="category"
                    (ionChange)="categorySelect()"
                  >
                    <ion-select-option
                      [value]="category.value"
                      *ngFor="let category of categorys"
                      >{{ category.name }}</ion-select-option
                    >
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid class="ion-padding-start ion-padding-end">
            <ion-row>
              <ion-col size="6" class="ion-text-center">
                <ion-item>
                  <ion-label position="stacked">Start Date</ion-label>
                  <ion-datetime
                    displayFormat="DD-MM-YYYY"
                    placeholder="Select date"
                    [(ngModel)]="startdatePending"
                    (ionChange)="dateSelectPending()"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col size="6" class="ion-text-center">
                <ion-item>
                  <ion-label position="stacked">End Date</ion-label>
                  <ion-datetime
                    displayFormat="DD-MM-YYYY"
                    placeholder="Select date"
                    [(ngModel)]="enddatePending"
                    (ionChange)="dateSelectPending()"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-card
          *ngFor="let pending of pendings"
          [color]="pendingColor(pending.status)"
        >
          <ion-card-header>
            <ion-fab horizontal="end">
              <ion-fab-button
                size="small"
                color="light"
                (click)="clickWorkActivity(pending)"
              >
                <ion-icon name="build"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-card-title style="color: white"
              >Work Activity No: {{ pending.work_order }}</ion-card-title
            >
            <ion-card-subtitle style="color: white" class="ion-padding-bottom">
              <p>
                Work Activity Type: {{
                getWorkActivityType(maintenance_work[0].activity_type) }}
              </p>
              <p>Required By Date: {{ pending.due_date | date }}</p>
              <p>Parent Location: Kuala Selangor</p>
              <p>Badge No: MOTR-0000998</p>
              <!-- <p>Completed Date: {{ pending.completed_at | date }}</p> -->
            </ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-card-content style="color: white;">
            <div class="ion-text-justify">
              WAMS ID: {{ pending.wams_work_id }}
            </div>
          </ion-card-content> -->
        </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'completed'">
      <ion-list class="line-input">
        <ion-grid class="ion-padding-start ion-padding-end">
          <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-label position="stacked">Start Date</ion-label>
                <ion-datetime
                  displayFormat="DD-MM-YYYY"
                  placeholder="Select date"
                ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-item>
                <ion-label position="stacked">End Date</ion-label>
                <ion-datetime
                  displayFormat="DD-MM-YYYY"
                  placeholder="Select date"
                ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-card *ngFor="let completed of completeds">
        <ion-card-header>
          <ion-card-title>Work Activity: {{ completed.id }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="ion-text-justify">{{ completed.desc }}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
