<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">
      Submit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-card *ngFor="let asset of assets">
    <ion-card-header>
      <ion-card-title>Asset ID: {{ asset.assetId }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Action: {{ asset.action }}</p>
      <p>Asset Name: {{ asset.assetName }}</p>
      <p>Asset Location: {{ asset.assetLocation }}</p>

      <div class="ion-padding">
        <div class="ion-float-left">
          <ion-button fill="clear" [routerLink]="['/technical/tabs/tab2']">
            <ion-icon slot="icon-only" name="build" ></ion-icon>
          </ion-button>
        </div>
        <div class="ion-float-right">
          <ion-button fill="clear" (click)="deleteAlertConfirm()">
            <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center ion-padding">
    <ion-button (click)="submitAlert()">Submit</ion-button>
  </div>
</ion-content>
