<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Stock Count
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-calculator text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify">User able to register new asset in bulk by upload excel file. The
              new data will be listed below for user preview and any error will
              be highlighted for user actions. The registration will be pass to
              admin for review before adding into the database.</small>
          </ng-template>
          <button type="button" class="btn btn-icon btn-default btn-sm ml-md-4" [popover]="popTemplate"
            placement="right" [outsideClick]="true">
            <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-control-label" id="modified_label">Start Date</label>
        <div class="inner-addon left-addon">
          <input type="date" class="form-control form-control-sm" id="startdate"/>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label class="form-control-label" id="modified_label">End Date</label>
        <div class="inner-addon left-addon">
          <input type="date" class="form-control form-control-sm" id="enddate"/>
        </div>
      </div>
    </div>

    <div class="col">
      <div class = "row" id="buttonmodified">
        <button class="btn btn-default" (click)="getFilteredTransactionDate()">Search</button>
        <button class="btn btn-danger" (click)="Reset()">Reset</button>
      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="true" id="status">
  <div class="col">
    <div class="card">
      <div class="dataTables_wrapper py-4">
        <div class="row">
          <div class="col-sm-16 col-md-10">
            <div class="dataTables_length" id="datatable_length">
              <label>
                Show
                <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="-1">All</option>
                </select>
                records
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col text-right" id="buttontop">
              <div class="row">
                <button class="btn btn-success" (click)="openCreate(create)">Create</button>
                <button class="btn btn-success">Export</button>
              </div>
            </div>
          </div>
        </div>

        <ngx-datatable  class="bootstrap" [scrollbarH]="true" [columnMode]="ColumnMode.force" [headerHeight]="50"
         [rowHeight]="auto" [footerHeight]="50" [limit]="entries != -1 ? entries : undefined" [rows]="tableTemptInventoryTransaction">

          <!-- <ngx-datatable-column maxWidth="40">
            <ng-template ngx-datatable-header-template>
              <input type="checkbox">
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                <input type="checkbox" id="customCheck+{{tableShowStockCount.id}}" (change)="checkRow(row)"
                  [(ngModel)]="tableShowStock.isTick">
                <label for="customCheck+{{tableTemptInventoryTransaction.id}}">
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column> -->

          <ngx-datatable-column [width]="80" id="datatable-header-cell">
            <ng-template ngx-datatable-header-template id="datatable-header-cell">
              <span>No</span>
            </ng-template>

            <ng-template let-rowIndex="rowIndex" let-row="tableTemptInventoryTransaction" ngx-datatable-cell-template>
              <strong>{{ rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>

          <div class="col-md-6">
            <ngx-datatable-column [width]="220" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Name</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.TRANSACTION_TYPE_NAME}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="220" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Subinventory</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.SUBINVENTORY_CODE}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="220" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Organization</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.ORGANIZATION_CODE}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="220" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Quantity</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.TRANSACTION_QUANTITY}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="250" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Latest Updated Date</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.TRANSACTION_DATE | date}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="125" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-default"
                  (click)="openStockCount(stockcount, row)">Detail</button>
              </ng-template>
            </ngx-datatable-column>
          </div>

        </ngx-datatable>
      </div>

    </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</div>

<ng-template #create>
  <div class="modal-header bg-default">
    <h6 class="modal-title my-auto text-white">
      Create Stock Count Information
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modalViewAsset" type="button"
      (click)="ModalCreate.hide()">
      <span aria-hidden="true" class="my-auto text-white"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Name</label>
          <input type="text" class="form-control form-control-sm"/>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Description</label>
          <input type="text" class="form-control form-control-sm"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Subinventory</label>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <select class="form-control custom-select form-control-sm custom-select-sm">
                  <option value="">Please select</option>
                </select>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="procured">
                  <label class="custom-control-label">
                    All Subinventories
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Tolerance Percentage (%)</label>
          <div class="col">
            <div class="form-group">
              <div class="row">
                <label class="form-control-label">Positive (+)</label>
                <input type="text" class="form-control form-control-sm"/>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <div class="row">
                <label class="form-control-label">Negative (-)</label>
                <input type="text" class="form-control form-control-sm"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Starting Default Tag</label>
          <input type="text" class="form-control form-control-sm"/>
        </div>
      </div>
    </div>

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

    <div class="card-footer">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-success" (click)="createTask()">Create</button>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #stockcount>
  <div class="modal-header bg-default">
    <h6 class="modal-title my-auto text-white">
      Receive Information
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modalViewAsset" type="button"
      (click)="ModalStockCount.hide()">
      <span aria-hidden="true" class="my-auto text-white"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Organisation</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Item</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Description</label>
          <input type="date" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Long Description</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Quantity</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Last Update Date</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Uploaded By</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Item Class</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Category</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Formatted Description</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Approval Status</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Created By</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Created Date</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">User Item type</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-right">
          <button class="btn btn-danger" (click)="ModalStockCount.hide()">close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
