<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">
      Work Request
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge
          size="small"
          color="danger"
          style="position: absolute; right: -5px; top: 1px;"
          >3</ion-badge
        >
      </ion-button>
      <!-- <ion-button (click)="clickLogout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takeCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-text-center">
    <ion-card-title>Create Work Request<br />(WR)</ion-card-title>
  </div>

  <ion-grid *ngIf="!capturedSnapURL">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <div>
          <ion-img src="assets/image/no-image.png"></ion-img>
        </div>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="capturedSnapURL">
    <img [src]="capturedSnapURL" />
  </ion-card>

  <ion-list class="ion-padding line-input">
    <ion-item>
      <ion-label position="stacked">Nama Aset</ion-label>
      <ion-select placeholder="Sila Pilih" class="ion-text-wrap">
        <ion-select-option
          [value]="assetName"
          *ngFor="let assetName of assetNames"
          >{{ assetName }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jenis Permasalahan</ion-label>
      <ion-select placeholder="Sila Pilih" class="ion-text-wrap">
        <ion-select-option>Masalah Kebocoran</ion-select-option>
        <ion-select-option>Masalah Paip Tersumbat</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Huraian</ion-label>
      <ion-textarea rows="5"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-text-center ion-padding">
    <ion-button>Submit</ion-button>
  </div>
</ion-content>
