<!-- <ion-content>
  <div class="ion-text-center">
    <ion-img src="assets/icon/air-selangor.png"></ion-img>  
  </div>
  <ion-grid style="height: 100%">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">LOGIN</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="line-input">
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input [(ngModel)]="loginForm.username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
            </ion-item>

            <ion-grid>
              <ion-row class="ion-justify-content-end">
                <ion-col>
                  <div class="ion-text-center">
                    <ion-button (click)="login()" [disabled]="!loginForm.username && !loginForm.password">Sign In</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="ion-text-center ion-padding-top">
              <p style="color: var(--ion-color-primary)" (click)="forgotPassword()">Forgot Password</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- <ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="content-core">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="assets/svg/analytics.svg"></ion-img>
      <h1 class="ion-text-center">Track & Monitor</h1>
      <p class="ion-text-center">Track & monitor your work activity assigned to increase productivity & efficiency</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/svg/efficient.svg"></ion-img>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

  <div class="form">
    <h3 class="ion-margin-start">Sign in</h3>
    <ion-item lines="none">
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" placeholder="Username" [(ngModel)]="loginForm.username"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password" [(ngModel)]="loginForm.password"></ion-input>
    </ion-item>

    <ion-button 
      shape="round"
      expand="block"
      color="primary"
      mode="ios"
      class="ion-margin-start ion-margin-end ion-margin-top"
      (click)="login()"
    >
      Sign in
    </ion-button>
  </div>
</ion-content>
