<ion-header>
  <ion-toolbar class="air-selangor-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="font-weight: bold; text-transform: uppercase;">
      Stock Count
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 class="ion-text-center">Scanning Activity</h3>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <p>Date: 22 Apr 2020</p>
            <p>Time Start: 1430 | Time End: 1435</p>
            <p>Total Item: 20 item</p>
            <p>Total Count: 50 qty</p>
          </ion-col>
          <ion-col size="2" class="ion-text-padding" [routerLink]="['/store-keeper/stock-count-list']">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="scanQrCode()">Add More</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="submit()">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
