<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Analytics</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="far fa-chart-bar text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div id="vizContainer" style="display: flex; justify-content: center"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-7">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header py-3 bg-secondary">
              <h5 class="text-muted ls-1 mb-0">Chart</h5>
              <h5 class="h3 mb-0">Top Maintenance Asset</h5>
            </div>

            <div class="card-body p-0">
              <div style="height: 408px;">
                <div id="chartdiv" style="height: 100%; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Venue</th>
                    <th scope="col">Preventive</th>
                    <th scope="col">Maintenance</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <th scope="row">Pumphouse 1</th>
                    <td>199</td>
                    <td>135</td>
                  </tr>
                  <tr>
                    <th scope="row">Pumhouse 2</th>
                    <td>67</td>
                    <td>32</td>
                  </tr>
                  <tr>
                    <th scope="row">Pumphouse 3</th>
                    <td>360</td>
                    <td>79</td>
                  </tr>
                  <tr>
                    <th scope="row">Pumphouse 4</th>
                    <td>671</td>
                    <td>321</td>
                  </tr>
                  <tr>
                    <th scope="row">Pumphouse 5</th>
                    <td>123</td>
                    <td>56</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Asset</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <th scope="row">Asset 1</th>
                    <td>214</td>
                  </tr>
                  <tr>
                    <th scope="row">Asset 2</th>
                    <td>98</td>
                  </tr>
                  <tr>
                    <th scope="row">Asset 3</th>
                    <td>104</td>
                  </tr>
                  <tr>
                    <th scope="row">Asset 4</th>
                    <td>63</td>
                  </tr>
                  <tr>
                    <th scope="row">Asset 5</th>
                    <td>52</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Maintenance</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody class="list">
                  <tr>
                    <th scope="row">Pending</th>
                    <td>432</td>
                  </tr>
                  <tr>
                    <th scope="row">Delayed</th>
                    <td>108</td>
                  </tr>
                  <tr>
                    <th scope="row">Completed</th>
                    <td>360</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header py-3 bg-secondary">
              <h5 class="text-muted ls-1 mb-0">Chart</h5>
              <h5 class="h3 mb-0">Maintenance Analysis</h5>
            </div>

            <div class="card-body p-0">
              <div style="height: 408px;">
                <div id="chartdiv1" style="height: 100%; width: 100%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
