<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <h2 class="mb-0 p-2 bg-default font-weight-bolder text-white text-center">
        Work Activity Statistics
      </h2>
      <div class="row pl-3 pr-3">
        <div
          class="col-xl-3 col-md-6 p-0"
          *ngFor="let workActivity of workActivityStats"
        >
          <div class="card card-stats" [ngClass]="workActivity.color">
            <div class="card-body">
              <div class="row text-center">
                <div class="col">
                  <h3 class="mb-0 font-weight-bold text-white">
                    {{ workActivity.title }}
                  </h3>
                  <h1 class="font-weight-bolder text-white">
                    {{ workActivity.total | number }}
                  </h1>
                  <span class="badge badge-secondary badge-lg"
                    ><span
                      class="font-weight-bold"
                      [ngClass]="workActivity.textcolor"
                      >+{{ workActivity.today | number }} Today</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- <div
          class="map-leaflet"
          leaflet
          [leafletOptions]="leafletOptions"
          [leafletLayers]="markers"
		></div> -->
        <div #mapEl class="app-main"></div>
      </div>
    </div>
    <!-- <div class="col-lg-4">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h4 class="m-0">Legends</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-green.svg"
                style="max-height: 40px;"
              />
              <span class="badge badge-success badge-pill">Completed</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-yellow.svg"
                style="max-height: 40px;"
              />
              <span class="badge badge-warning badge-pill">Pending</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <img
                src="assets/img/marker/marker-red.svg"
                style="max-height: 40px;"
              />
              <span class="badge badge-danger badge-pill">Delayed</span>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h4 class="mb-0">Search filter</h4>
            </div>
            <div class="col-auto text-right">
              <button class="btn btn-default btn-sm">Search</button>
              <button class="btn btn-secondary btn-sm">Reset</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 col-xs-12">
              <div class="form-group">
                <label class="form-control-label">Owning Organization</label>
                <select class="form-control form-control-sm">
                  <option value="">Please select</option>
                  <option *ngFor="let assetowningdepartment of assetowningdepartment" value="{{assetowningdepartment.value}}">{{assetowningdepartment.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12">
              <div class="form-group">
                <label class="form-control-label">Work Category</label>
                <select class="form-control form-control-sm">
                  <option value="">Please select</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-xs-12">
              <div class="form-group">
                <label class="form-control-label">Region</label>
                <select class="form-control form-control-sm">
                  <option value="">Please select</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-xs-12">
      <div class="card bg-info">
        <div class="card-body text-center">
          <h4 class="mb-0 text-white">Total Work Activity Generated</h4>
          <h1 class="font-weight-bolder text-white">{{totalWorkOrder}}</h1>
        </div>
      </div>

      <div class="card bg-danger">
        <div class="card-body text-center">
          <h4 class="mb-0 text-white">Total Numbers of Backlog</h4>
          <div class="row">
            <div class="col-4 text-right">
              <h1 class="font-weight-bold">{{ totalBackLogYesterday }}</h1>
            </div>
            <div class="col-4 pt-1">
              <i class="fas fa-arrow-right fa-2x"></i>
            </div>
            <div class="col-4 text-left">
              <h1 class="text-white font-weight-bolder">{{ totalBackLogToday }}</h1>
            </div>
          </div>

          <h4 class="mb-0 text-white">Backlog Percentage:</h4>
          <div class="row">
            <div class="col-4 text-right">
              <h2 class="font-weight-bold">{{ backLogPercentageYesterday }}%</h2>
            </div>
            <div class="col-4 pt-1">
              <i class="fas fa-arrow-right fa-lg"></i>
            </div>
            <div class="col-4 text-left">
              <h2 class="text-white font-weight-bolder">{{ backLogPercentageToday }}%</h2>
            </div>
          </div>

          <small style="color: white;"
            >*Users are reminded to complete work activity within required by
            date.</small
          >
        </div>
      </div>

      <div class="alert alert-default" role="alert">
        <strong>Definition</strong><br />
        Work Activity Backlog: Work Activity does not completed within required
        by date.
      </div>
    </div>

    <div class="col-lg-8 col-xs-12">
      <div class="card">
        <div>
          <div style="width: 100%; height: 500px;" id="chartdivone"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">WAMS: Total Asset Registered</h3>
        </div>
        <div class="card-body">
          <h3 class="mb-0">Asset Registered: <strong>{{ asset_registered_length }} nos</strong></h3>
          <small>Data as of 30 Mac 2020</small>
          <div id="chartdivtwo" style="width: 100%; height: 500px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">WAMS: Asset Condition Store</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6 col-xs-12">
              <div class="row">
                <div class="col">
                  <h3>Average (Overall)</h3>
                  <small>Data as of {{today | date:'d MMMM y'}}</small><br />

                  <span class="text-info"> ● </span>
                  <small
                    >New asset register on {{firstDayLastMonth | date:'MMMM'}}:
                    <strong class="font-weight-bolder"
                      >{{ totalassetsLastMonth }}</strong
                    ></small
                  >
                </div>
                <div
                  class="col"
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <p class="font-weight-bolder" style="font-size: 48px;">
                    {{ totalAssetToday }}
                  </p>
                </div>
              </div>
              <hr style="margin-bottom: 0; margin-top: 0;" />
              <div class="text-center">
                <h4>Percentage Asset Condition Rating Completion:</h4>
                <h1>{{ PercentageAssetConditionRating }}%</h1>
              </div>
            </div>
            <div class="col-lg-6 col-xs-12">
              <p>
                Asset that completed Preventive Maintenance:
                <strong>37,298 nos</strong>
              </p>
              <span class="text-info"> ● </span>
              <small
                >PM Trigger have been completed on
                <strong class="font-weight-bolder"
                  >November 2019.</strong
                ></small
              ><br />
              <span class="text-info"> ● </span>
              <small
                >Hence, the asset condition ratings will be completely captured
                by
                <strong class="font-weight-bolder"
                  >November 2020.</strong
                ></small
              ><br /><br />

              <small class="text-muted"
                >* No record due to the remaining assets are waiting for
                maintenance schedule / no maintenance activity conducted</small
              >
            </div>
            <div class="table-responsive pt-3">
              <table class="table align-items-center table-flush">
                <thead>
                  <tr>
                    <th></th>
                    <th>Numbers of Asset</th>
                    <th class="text-center">0<br />No record*</th>
                    <th class="text-center">1<br />Very Good</th>
                    <th class="text-center">2<br />Good</th>
                    <th class="text-center">3<br />Average</th>
                    <th class="text-center">4<br />Poor</th>
                    <th class="text-center">5<br />Extremely<br />Critical</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let tableAssetConditionStore of tableAssetConditionStores
                    "
                  >
                    <td class="font-weight-bolder">
                      {{ tableAssetConditionStore.title }}
                    </td>
                    <td class="text-center font-weight-bolder">
                      {{ tableAssetConditionStore.noasset | number }}
                    </td>
                    <td class="text-center font-weight-bolder">
                      {{ tableAssetConditionStore.zero | number }}
                    </td>
                    <td
                      class="text-center font-weight-bolder"
                      style="background-color: #9dcb82;"
                    >
                      {{ tableAssetConditionStore.one | number }}
                    </td>
                    <td
                      class="text-center font-weight-bolder"
                      style="background-color: #bbdcac;"
                    >
                      {{ tableAssetConditionStore.two | number }}
                    </td>
                    <td
                      class="text-center font-weight-bolder"
                      style="background-color: #fbff04;"
                    >
                      {{ tableAssetConditionStore.three | number }}
                    </td>
                    <td
                      class="text-center font-weight-bolder"
                      style="background-color: #f9b81a;"
                    >
                      {{ tableAssetConditionStore.four | number }}
                    </td>
                    <td
                      class="text-center font-weight-bolder"
                      style="background-color: #f50f1d;"
                    >
                      {{ tableAssetConditionStore.five | number }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">
            WAMS: Total Asset Maintenance generated in March 2019
          </h3>
        </div>
        <div class="card-body">
          <small
            >Total Asset Maintenance generated in WAMS in March 2019:
            <span class="font-weight-bolder" style="font-size: 24px;"
              >8,341 nos</span
            ></small
          >

          <div class="row pt-3">
            <div class="col-lg-3 col-xs-12">
              <div id="piedivone" style="width: 100%;"></div>
              <h3 class="m-0 text-center">Distribution</h3>
            </div>

            <div class="col-lg-3 col-xs-12">
              <div id="piedivtwo" style="width: 100%;"></div>
              <h3 class="m-0 text-center">ES-D</h3>
            </div>

            <div class="col-lg-3 col-xs-12">
              <div id="piedivthree" style="width: 100%;"></div>
              <h3 class="m-0 text-center">NRW</h3>
            </div>

            <div class="col-lg-3 col-xs-12">
              <div id="piedivfour" style="width: 100%;"></div>
              <h3 class="m-0 text-center">PD-N</h3>
            </div>
          </div>

          <div class="row pt-3">
            <div class="col-lg-1"></div>

            <div class="col-lg-2 col-xs-12">
              <div id="piedivfive" style="width: 100%;"></div>
              <h3 class="m-0 text-center">SCADA</h3>
            </div>

            <div class="col-lg-2 col-xs-12">
              <div id="piedivsix" style="width: 100%;"></div>
              <h3 class="m-0 text-center">WQ</h3>
            </div>

            <div class="col-lg-2 col-xs-12">
              <div id="piedivseven" style="width: 100%;"></div>
              <h3 class="m-0 text-center">FLEET</h3>
            </div>

            <div class="col-lg-2 col-xs-12">
              <div id="piediveight" style="width: 100%;"></div>
              <h3 class="m-0 text-center">PD-S</h3>
            </div>

            <div class="col-lg-2 col-xs-12">
              <div id="piedivnine" style="width: 100%;"></div>
              <h3 class="m-0 text-center">CBS</h3>
            </div>

            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-7">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h5 class="text-muted ls-1 mb-0">Chart</h5>
          <h5 class="h3 mb-0">Department</h5>
        </div>

        <div class="card-body p-0">
          <div style="height: 408px;">
            <div id="compareChart" style="height: 100%; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-5">
      <div class="card widget-calendar">
        <div class="card-header py-3 bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <div class="h5 text-muted mb-0 widget-calendar-year"></div>
              <div class="h3 mb-0 widget-calendar-day"></div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div data-toggle="widget-calendar" id="widget-calendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
