@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

#status{
  margin-left: auto;
  margin-right: auto;
}

#buttontop {
  right: 35px;
}

#buttonexp {
  right: 20px;
}

#datatable-header-cell{
  text-align: center;
}


.checked {
  color: orange;
}
