<ion-header>
  <ion-toolbar class="air-selangor-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div style="font-weight: bold; text-transform: uppercase;">
      Inter-Warehouse Transfer
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p>Description: CONTACTOR - 32A 240V 4 POLES (SCHNEIDER)</p>
      <p>Category: ELECTRICAL ACCESSORIES</p>
      <p>Quantity: 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Description: CONTACTOR - 32A 240V 4 POLES (SCHNEIDER)</p>
      <p>Category: ELECTRICAL ACCESSORIES</p>
      <p>Quantity: 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Description: CONTACTOR - 32A 240V 4 POLES (SCHNEIDER)</p>
      <p>Category: ELECTRICAL ACCESSORIES</p>
      <p>Quantity: 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Description: CONTACTOR - 32A 240V 4 POLES (SCHNEIDER)</p>
      <p>Category: ELECTRICAL ACCESSORIES</p>
      <p>Quantity: 10</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Description: CONTACTOR - 32A 240V 4 POLES (SCHNEIDER)</p>
      <p>Category: ELECTRICAL ACCESSORIES</p>
      <p>Quantity: 10</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="scanQrCode()">Add More</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="selectWarehouseRadio()">Select Warehouse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
