@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

#status{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

img {
  height: 75px;
  margin: 0 2em;
  fill: darkorange;
}

#buttonmodified{
  margin: 0;
  top: 50%;

}
