<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="homePage('/technical/tabs/tab1')">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"> Work Request </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-button color="primary" (click)="clickNew()">New Request</ion-button>
    </div>
    <ion-card *ngFor="let workrequest of workrequests">
      <ion-card-header>
        <ion-fab horizontal="end">
          <ion-fab-button *ngIf="workrequest.approval_profile == ''" size="small" color="primary"
            (click)="clickEdit(workrequest)">
            <ion-icon name="document-text"></ion-icon>
          </ion-fab-button>

          <ion-fab-button *ngIf="workrequest.approval_profile != ''" size="small" color="success"
            (click)="clickEdit(workrequest)">
            <ion-icon name="document-text"></ion-icon>
          </ion-fab-button>

          <ion-fab-button *ngIf="workrequest.work_request_status == 'CREATED'" size="small" color="tertiary"
            (click)="clickApprove(workrequest)">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </ion-fab-button>
          <!-- <ion-fab-button
            size="small"
            color="danger"
            (click)="clickRemove(i)"
          >
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button> -->
        </ion-fab>
        <ion-card-subtitle>Work Request ID</ion-card-subtitle>
        <ion-card-title><b>{{ workrequest.work_request_id }}</b></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Asset ID: {{ workrequest.asset_id }}</p>
        <p>Required By Date: {{ workrequest.required_by_date }}</p>
        <p>Work Category: {{ workrequest.work_category }}</p>
        <p>Work Class: {{ workrequest.work_class }}</p>
        <p>Work Priority: {{ workrequest.work_priority }}</p>
        <p>Status: {{ workrequest.work_request_status | titlecase }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>