<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">
                        Asset Management - Registered
                    </h6>

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-boxes text-dark"> </i>
                                </a>
                            </li>
                        </ol>
                    </nav>

                    <ng-template #popTemplate>
                        <h4 class="text-center">Information</h4>
                        <small class="text-justify">User able to register new asset in bulk by upload excel file. The
                            new data will be listed below for user preview and any error will
                            be highlighted for user actions. The registration will be pass to
                            admin for review before adding into the database.</small>
                    </ng-template>
                    <button type="button" class="btn btn-icon btn-default btn-sm ml-md-4" [popover]="popTemplate"
                        placement="right" [outsideClick]="true">
                        <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">

    <div class="row">
        <div class="col-md-12">
            <!-- <tabset type="pills" class="nav-fill flex-column flex-md-row">
          <tab heading="Asset Location" [active]="firstTab"> -->
            <div class="card mt-4">
                <div class="card-header">
                    <h5>Asset Registration</h5>
                </div>
                <div class="card-body">

                    <!-- <h5 class="heading">
                  Asset Location
                </h5> -->
                        
                    <div class="row mt-3 mb-2">
                        <div class="col">
                            <button class="btn btn-default" (click)="showTable()">
                                Generate
                            </button>
                        </div>
                    </div>

                    <div class="row" *ngIf="tableShow1">
                        <div class="col">
                            <div class="card">
                                <!-- <div class="card-body"> -->
                                <div class="dataTables_wrapper py-4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="datatable_length">
                                                <label>
                                                    Show
                                                    <select name="datatable_length" aria-controls="datatable"
                                                        class="form-control form-control-sm"
                                                        (change)="entriesChange($event)">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="-1">All</option>
                                                    </select>
                                                    records
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                        </div>
                                    </div>

                                    <ngx-datatable class="bootstrap selection-cell material" columnMode="force"
                                        [scrollbarV]="true" [scrollbarH]="true" [footerHeight]="50"
                                        [rowHeight]="75" [limit]="tableEntries != -1 ? tableEntries : undefined"
                                        [rows]="tableTemp1" (activate)="onActivate($event)">

                                        <ngx-datatable-column maxWidth="60" [sortable]="false">
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck+{{row.id}}" (change)="checkRow(row)"
                                                        [(ngModel)]="row.isTick">
                                                    <label class="custom-control-label" for="customCheck+{{row.id}}">
                                                    </label>
                                                </div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- <ngx-datatable-column [width]="60" [sortable]="true" [resizeable]="false"
                                            prop="id_index">
                                            <ng-template ngx-datatable-header-template>
                                                <span>No.</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{row.id_index}}--{{row.id}}
                                            </ng-template>
                                        </ngx-datatable-column> -->

                                        <ngx-datatable-column [width]="80">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Status</span>
                                            </ng-template>

                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <span class="badge badge-info"
                                                    *ngIf="row.status == 'RJ'">Rejected</span>
                                                <span class="badge badge-info"
                                                    *ngIf="row.status == 'AP'">Approved</span>
                                                <span class="badge badge-info"
                                                    *ngIf="row.status == 'PR'">Processed</span>
                                                <span class="badge badge-warning"
                                                    *ngIf="row.status == 'CO'">Complete</span>
                                                <span class="badge badge-info"
                                                    *ngIf="row.status == 'IC'">Incomplete</span>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.parent_location">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Parent Location</span>
                                            </ng-template>

                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="parent_location" class="form-control"
                                                    value="{{row.parent_location}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.location_description">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Location Description</span>
                                            </ng-template>

                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="location_description" class="form-control"
                                                    value="{{row.location_description}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.building">
                                            <ng-template ngx-datatable-header-template>
                                                <span>building</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="building" class="form-control"
                                                    value="{{row.building}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.address_line_1">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Address Line 1</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="address_line_1" class="form-control"
                                                    value="{{row.address_line_1}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.address_line_2">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Address Line 2</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="address_line_2" class="form-control"
                                                    value="{{row.address_line_2}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.address_line_3">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Address Line 3</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="address_line_3" class="form-control"
                                                    value="{{row.address_line_3}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.city">
                                            <ng-template ngx-datatable-header-template>
                                                <span>City</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="city" class="form-control"
                                                    value="{{row.city}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.state">
                                            <ng-template ngx-datatable-header-template>
                                                <span>State</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="state" class="form-control"
                                                    value="{{row.state}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.postal_code">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Postal Code</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="postal_code" class="form-control"
                                                    value="{{row.postal_code}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.country">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Country</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="country" class="form-control"
                                                    value="{{row.country}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.tag_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Tag Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="tag_number" class="form-control"
                                                    value="{{row.tag_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.service_area">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Service Area</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="service_area" class="form-control"
                                                    value="{{row.service_area}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.maintenance_planner">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Maintenance Planner</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="maintenance_planner" class="form-control"
                                                    value="{{row.maintenance_planner}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.location_main_contact">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Location Main Contact</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="location_main_contact" class="form-control"
                                                    value="{{row.location_main_contact}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.location_asset_maintenance_manager">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Location Asset Maintenance Manager</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="location_asset_maintenance_manager"
                                                    class="form-control"
                                                    value="{{row.location_asset_maintenance_manager}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.gis_esri_id">
                                            <ng-template ngx-datatable-header-template>
                                                <span>GIS ESRI ID</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="gis_esri_id" class="form-control"
                                                    value="{{row.gis_esri_id}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.latitude">
                                            <ng-template ngx-datatable-header-template>
                                                <span>latitude</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="latitude" class="form-control"
                                                    value="{{row.latitude}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_critically">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Criticality</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_critically" class="form-control"
                                                    value="{{row.asset_critically}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.cost_center">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Cost Center</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="cost_center" class="form-control"
                                                    value="{{row.cost_center}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_owning_department">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Owning Depart</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_owning_department" class="form-control"
                                                    value="{{row.asset_owning_department}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.sub_process_system">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Sub Process System</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="sub_process_system" class="form-control"
                                                    value="{{row.sub_process_system}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.brand">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Brand</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="brand" class="form-control"
                                                    value="{{row.brand}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_1">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Size Capacity 1</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_1" class="form-control"
                                                    value="{{row.size_capacity_1}}" />
                                            </ng-template>
                                        </ngx-datatable-column>


                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_2">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Size Capacity 2</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_2" class="form-control"
                                                    value="{{row.size_capacity_2}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_3">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Size Capacity 3</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_3" class="form-control"
                                                    value="{{row.size_capacity_3}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.maintenance_specification">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Maintenance Specification</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="maintenance_specification" class="form-control"
                                                    value="{{row.maintenance_specification}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_or_component_type">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Or Component Type</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_or_component_type" class="form-control"
                                                    value="{{row.asset_or_component_type}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.badge_no">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Badge No</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="badge_no" class="form-control"
                                                    value="{{row.badge_no}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_1_unit_measurement">
                                            <ng-template ngx-datatable-header-template>
                                                <span>size_capacity_1_unit_measurement</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_1_unit_measurement"
                                                    class="form-control"
                                                    value="{{row.size_capacity_1_unit_measurement}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_2_unit_measurement">
                                            <ng-template ngx-datatable-header-template>
                                                <span>size_capacity_2_unit_measurement</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_2_unit_measurement"
                                                    class="form-control"
                                                    value="{{row.size_capacity_2_unit_measurement}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.size_capacity_3_unit_measurement">
                                            <ng-template ngx-datatable-header-template>
                                                <span>size_capacity_3_unit_measurement</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="size_capacity_3_unit_measurement"
                                                    class="form-control"
                                                    value="{{row.size_capacity_3_unit_measurement}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.measurement_type">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Measurement Type</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="measurement_type" class="form-control"
                                                    value="{{row.measurement_type}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.main_operation">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Main Operation</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="main_operation" class="form-control"
                                                    value="{{row.main_operation}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_class_asset_category">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Class Asset Category</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_class_asset_category"
                                                    class="form-control" value="{{row.asset_class_asset_category}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.internal_asset_identity">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Internal Asset Adentity</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="internal_asset_identity" class="form-control"
                                                    value="{{row.internal_asset_identity}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.sub_category_1">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Sub Category 1</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="sub_category_1" class="form-control"
                                                    value="{{row.sub_category_1}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.parent_asset_plate_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Parent Asset Plate Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="parent_asset_plate_number" class="form-control"
                                                    value="{{row.parent_asset_plate_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date"
                                            *ngIf="is_show1.purchase_date_installed_handed_over_date">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Purchase Date Installed Handed Over Date</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="purchase_date_installed_handed_over_date"
                                                    class="form-control"
                                                    value="{{row.purchase_date_installed_handed_over_date}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.warranty">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Warranty</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="warranty" class="form-control"
                                                    value="{{row.warranty}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.region">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Region</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="region" class="form-control"
                                                    value="{{row.region}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.handed_over_asset_or_procured">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Handed Over Asset Or Procured</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="handed_over_asset_or_procured"
                                                    class="form-control"
                                                    value="{{row.handed_over_asset_or_procured}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_primary_category">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Primary Category</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_primary_category" class="form-control"
                                                    value="{{row.asset_primary_category}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.sub_category_2">
                                            <ng-template ngx-datatable-header-template>
                                                <span>sub_category_2</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="sub_category_2" class="form-control"
                                                    value="{{row.sub_category_2}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_plate_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Plate Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_plate_number" class="form-control"
                                                    value="{{row.asset_plate_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.condition_rating">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Condition Rating</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="condition_rating" class="form-control"
                                                    value="{{row.condition_rating}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.actual_warranty_period">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Actual Warranty Period</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="actual_warranty_period" class="form-control"
                                                    value="{{row.actual_warranty_period}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.operation">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Operation</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="operation" class="form-control"
                                                    value="{{row.operation}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.process_function">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Process Function</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="process_function" class="form-control"
                                                    value="{{row.process_function}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.model_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Model Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="model_number" class="form-control"
                                                    value="{{row.model_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.detailed_description">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Detailed Description</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="detailed_description" class="form-control"
                                                    value="{{row.detailed_description}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.serial_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Serial Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="serial_number" class="form-control"
                                                    value="{{row.serial_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_status">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Status</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_status" class="form-control"
                                                    value="{{row.asset_status}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.warranty_vendor_name">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Warranty Vendor Name</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="warranty_vendor_name" class="form-control"
                                                    value="{{row.warranty_vendor_name}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_tag_number">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Tag Number</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_tag_number" class="form-control"
                                                    value="{{row.asset_tag_number}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false"
                                            prop="created_date" *ngIf="is_show1.asset_identity">
                                            <ng-template ngx-datatable-header-template>
                                                <span>Asset Identity</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <input type="text" name="asset_identity" class="form-control"
                                                    value="{{row.asset_identity}}" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="140" [sortable]="true" [resizeable]="false">
                                            <ng-template ngx-datatable-header-template>
                                                <span></span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <span><i class="fa fa-file text-default"></i></span>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col text-right">
                                            <!-- <button class="btn btn-danger" (click)="confirm('RJ')">Reject</button> -->
                                            <button class="btn btn-default" (click)="confirm('PR')">Process</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </tab>
  
          <tab heading="Asset Detail" [active]="secondTab">
            <div class="card mt-4">
            </div>
          </tab>
  
          <tab heading="Asset Technical Spec" [active]="thirdTab">
            <div class="card mt-4">
            </div>
          </tab>
        </tabset> -->
        </div>
    </div>
</div>

<ng-template #uploadFile>
    <div class="modal-header bg-default">
        <h6 class="modal-title my-auto text-white">
            List of Asset
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modalViewAsset" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="my-auto text-white"> × </span>
        </button>
    </div>

    <div class="modal-body">

        <form [formGroup]="fileuploadFormGroup">
            <div class="form-group">
                <label class="form-control-label">Upload Excel</label>
                <input class="form-control" name="excelFile" (change)="onFileChange($event)" type="file">
            </div>
        </form>

    </div>

    <!-- <div class="modal-footer">
        <button class="btn btn-default btn-sm" (click)="submitFileExcel()">
            Submit
        </button>
        <button class="btn btn-secondary btn-sm" type="button" (click)="closeModal()">
            Close
        </button>
    </div> -->
</ng-template>
