<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon
          src="../../../../assets/icon/air-selangor-icon.svg"
          style="font-size: 2rem"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"> Asset Detail </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge
          size="small"
          color="danger"
          style="position: absolute; right: -5px; top: 1px"
          >{{ notificationService.totalnotificationbyuser }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanQrCode()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <div class="ion-padding">
    <div class="line-input">
      <ion-item>
        <ion-label position="stacked">Badge No</ion-label>
        <ion-input type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asset Type</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="asset_detail.asset_primary_category"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asset Parent Location</ion-label>
        <ion-textarea
          rows="3"
          readonly
          [value]="asset_detail.parent_location"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asset Location</ion-label>
        <ion-textarea
          rows="3"
          readonly
          [value]="asset_detail.location_description"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Brand</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Capacity/Size</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <div *ngIf="asset_type == 'Pump'">
        <ion-item>
          <ion-label position="stacked">Type</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Flow Rate</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Pump Head</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="asset_type == 'Motor'">
        <ion-item>
          <ion-label position="stacked">Motor Current</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Frequency</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label position="stacked">Horse-Power (HP)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Installation</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <div *ngIf="asset_type == 'Motor'">
        <ion-item>
          <ion-label position="stacked">Insulation</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label position="stacked">Manufacturer</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Manufacture Part Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Manufacturer Year</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Model</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <div *ngIf="asset_type == 'Pump'">
        <ion-item>
          <ion-label position="stacked">Material Type</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">No. of Stage</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <div *ngIf="asset_type == 'Motor'">
        <ion-item>
          <ion-label position="stacked">No. of Phases</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>

      <ion-item>
        <ion-label position="stacked">Revolutions Per Minute (RPM)</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Temperature</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <div *ngIf="asset_type == 'Motor'">
        <ion-item>
          <ion-label position="stacked">Voltage</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button color="light" (click)="cancel()">Cancel</ion-button>
    <ion-button color="primary" (click)="update()">Update</ion-button>
  </div>
</ion-content>
