<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-padding">
    <h4 class="ion-text-center ion-padding">Operational Reading</h4>
    <ion-list class="line-input">
      <form [formGroup]="operationalreadingFormGroup">
        <ion-item>
          <ion-label position="stacked">Asset Description</ion-label>
          <ion-textarea rows="3" [disabled]="true" readonly formControlName="asset_description"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Badge Number</ion-label>
          <ion-input type="text" [disabled]="true" readonly formControlName="badge_number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Location</ion-label>
          <ion-textarea rows="3" [disabled]="true" readonly formControlName="location"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Measurement Type</ion-label>
          <!-- <ion-input type="text" formControlName="measurent_type"></ion-input> -->

          <ion-select formControlName="measurent_type" *ngIf="showButton == 'yes'">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option *ngFor="let choice of MeasurementTypeData" [value]="choice.measurement_type">
              {{choice.measurement_type}}
            </ion-select-option>
          </ion-select>
          <ion-input type="text" *ngIf="showButton == 'no'" [disabled]="true" readonly formControlName="measurent_type">
          </ion-input>
          <!-- <ion-select formControlName="measurent_type">
            <ion-select-option selected value="RUNNING-HOUR">RUNNING HOUR</ion-select-option>
            <ion-select-option value="TEMPERATURE-SENSOR">TEMPERATURE SENSOR</ion-select-option>
          </ion-select> -->

          <!-- 
            1. Call data from /measurement-types
            2. Save @ variable
            3. Contoh measurements
           -->
        </ion-item>


        <ion-item>
          <ion-label position="stacked">Reading Date</ion-label>
          <ion-datetime *ngIf="showButton == 'yes'" displayFormat="YYYY-MM-DD HH:mm:ss"
            formControlName="reading_datetime">
          </ion-datetime>
          <ion-datetime *ngIf="showButton == 'no'" [disabled]="true" displayFormat="YYYY-MM-DD HH:mm:ss"
            formControlName="reading_datetime">
          </ion-datetime>
          <!-- <ion-input *ngIf="showButton == yes" type="text" [disabled]="true" readonly
            formControlName="reading_datetime"></ion-input> -->
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Reading Time</ion-label>
          <ion-datetime displayFormat="HH:mm" formControlName="reading_time"></ion-datetime>
        </ion-item> -->

        <ion-item>
          <ion-label position="stacked">Current Value</ion-label>
          <ion-input *ngIf="showButton == 'yes'" type="number" formControlName="current_value"></ion-input>
          <ion-input *ngIf="showButton == 'no'" type="number" [disabled]="true" readonly
            formControlName="current_value">
          </ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Initial Value</ion-label>
          <ion-input type="number" formControlName="initial_value_flag"></ion-input>
        </ion-item> -->

        <!-- <ion-item>
          <ion-label position="stacked">Owning Organization</ion-label>
          <ion-input type="text" formControlName="owning_organization"></ion-input>
        </ion-item> -->

      </form>
    </ion-list>

    <!-- <ion-item lines="none">
      <ion-label class="ion-text-start">Measurement Type</ion-label>
      <ion-button (click)="clickAddMeasurementType()">Add</ion-button>
    </ion-item> -->

    <ion-card *ngIf="operationalreadingFormGroup.value.measurement_type">
      <ion-card-header>
        <ion-fab horizontal="end">
          <ion-fab-button size="small" color="primary" (click)="clickEdit(operationalreadingFormGroup.value)">
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
          <!-- <ion-fab-button
            size="small"
            color="danger"
            (click)="clickRemove(i)"
          >
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button> -->
        </ion-fab>
        <ion-card-title>Measurement Type <br />
          {{ operationalreadingFormGroup.value.measurement_type
          }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Reading Date/Time: {{
          operationalreadingFormGroup.value.reading_date_time | date }}
        </p>
        <p>
          Current Value: {{ operationalreadingFormGroup.value.current_value }}
        </p>
        <p>
          Created Date: {{ operationalreadingFormGroup.value.record_date |
          date:'mediumDate' }}
        </p>
      </ion-card-content>
    </ion-card>

    <div class="ion-text-center ion-padding">
      <ion-button color="light" (click)="clickBack()">Back</ion-button>
      <ion-button *ngIf="showButton == 'yes'" color="primary" (click)="submit()">Submit</ion-button>
    </div>
  </div>
</ion-content>