<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Storekeeper</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-dolly-flatbed text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify"
              >User able to view storekeeper information in this module</small
            >
          </ng-template>
          <button
            type="button"
            class="btn btn-icon btn-default btn-sm ml-md-4"
            [popover]="popTemplate"
            placement="right"
            [outsideClick]="true"
          >
            <span class="btn-inner--icon"
              ><i class="fas fa-info-circle"></i
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row pb-3">
    <div class="col">
      <div class="mb-2">
        <form
          class="navbar-search navbar-search-light form-inline mr-sm-3"
          id="navbar-search-main"
        >
          <div
            class="form-group mb-0"
            [ngClass]="{ focused: focusSearch === true }"
          >
            <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-search"></i>
                </span>
              </div>
              <input
                class="form-control"
                placeholder="Search"
                type="text"
                (focus)="focusSearch = true"
                (blur)="focusSearch = false"
              />
            </div>
          </div>
          <button
            type="button"
            class="close"
            (click)="closeSearch()"
            data-action="search-close"
            data-target="#navbar-search-main"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h4 class="m-0">Storekeeper List</h4>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Role Name</th>
                <th scope="col">Store Code</th>
                <th scope="col">Role</th>
                <th scope="col">Location</th>
                <th scope="col">Designation</th>
                <!-- <th scope="col"></th> -->
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let storeKeeper of storeKeepers">
                <th scope="row">{{ storeKeeper.no }}</th>
                <td>{{ storeKeeper.role_name }}</td>
                <td>{{ storeKeeper.store_code }}</td>
                <td>{{ storeKeeper.name }}</td>
                <td>{{ storeKeeper.location }}</td>
                <td>{{ storeKeeper.designation }}</td>
                <!-- <td class="text-right">
                  <button
                    type="button"
                    class="btn btn-icon btn-2 btn-primary btn-sm"
                  >
                    <span class="btn-inner--icon"
                      ><i class="far fa-edit"></i
                    ></span>
                  </button>
                  <button
                    type="button"
                    class="btn btn-icon btn-2 btn-warning btn-sm"
                    (click)="delete()"
                  >
                    <span class="btn-inner--icon"
                      ><i class="far fa-trash-alt"></i
                    ></span>
                  </button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editStoreKeeper>
  <div class="modal-header bg-default">
    <h6 class="modal-title my-auto text-white">
      Edit Store Keeper
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="my-auto text-white"> × </span>
    </button>
  </div>

  <div class="modal-body"></div>

  <div class="modal-footer mt--4">
    <button
      class="btn btn-success btn-sm mr-auto"
      data-dismiss="modal"
      type="button"
      (click)="save()"
    >
      Save
    </button>

    <button
      class="btn btn-secondary btn-sm ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </div>
</ng-template>
