<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Sub-Inventory Transfer
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-boxes text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>

          <ng-template #popTemplate>
            <h4 class="text-center">Information</h4>
            <small class="text-justify">User able to monitor stock activity in all stores. All information captured in the
            mobile will be reflect in this module.</small>
          </ng-template>
          <button type="button" class="btn btn-icon btn-default btn-sm ml-md-4" [popover]="popTemplate"
            placement="right" [outsideClick]="true">
            <span class="btn-inner--icon"><i class="fas fa-info-circle"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label class="form-control-label" id="modified_label">Transaction Date</label>
      <div class="inner-addon left-addon">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-control-sm" placeholder="Search"/>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="form-group">
      <label class="form-control-label" id="modified_label">Organization Code</label>
      <div class="inner-addon left-addon">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-control-sm" placeholder="Search"/>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="true" id="status">
  <div class="col">
    <div class="card">
      <div class="dataTables_wrapper py-4">
        <div class="row">
          <div class="col-sm-16 col-md-10">
            <div class="dataTables_length" id="datatable_length">
              <label>
                Show
                <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                  (change)="entriesChange($event)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="-1">All</option>
                </select>
                records
              </label>
            </div>
          </div>
        </div>

        <ngx-datatable class="bootstrap selection-cell" [footerHeight]="50"
          [rowHeight]="auto" [limit]="entries != -1 ? entries : undefined" [rows]="tableShowStockCount"
          (activate)="onActivate($event)">

          <ngx-datatable-column maxWidth="40">
            <ng-template ngx-datatable-header-template>
              <input type="checkbox">
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <div>
                <!-- <input type="checkbox" id="customCheck+{{tableShowStockCount.id}}" (change)="checkRow(row)"
                  [(ngModel)]="tableShowStock.isTick"> -->
                <label for="customCheck+{{tableShowStockCount.id}}">
                </label>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="No" [width]="80" id="datatable-header-cell">
            <ng-template let-rowIndex="rowIndex" let-row="tableShowStock" ngx-datatable-cell-template>
              <strong>{{ rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>

          <div class="col-md-6">
            <ngx-datatable-column [width]="250" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Transaction Date</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.transaction_date}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="250" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Organization Code</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.organization_code}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="280" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Source Code</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.source_code}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="300" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Item Number</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.item_number}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="300" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Sub-Inventory Code</span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="h4 font-weight-bold mb-0">{{row.subinventory_code}}</span>
              </ng-template>
            </ngx-datatable-column>
          </div>

          <div class="col-md-6">
            <ngx-datatable-column [width]="auto" [resizeable]="false">
              <ng-template ngx-datatable-header-template id="datatable-header-cell">
                <span>Action</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button class="btn btn-default"
                  (click)="openSubInventory(subinventory, row)">Detail</button>
              </ng-template>
            </ngx-datatable-column>
          </div>

        </ngx-datatable>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col text-center">
            <!-- <button class="btn btn-danger" (click)="confirm('RJ')">Reject</button> -->
            <button class="btn btn-success" (click)="confirm('NP')">Submit to ERP</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</div>

<ng-template #subinventory>
  <div class="modal-header bg-default">
    <h6 class="modal-title my-auto text-white">
      Transaction Information
    </h6>

    <button aria-label="Close" class="close" data-dismiss="modalViewAsset" type="button"
      (click)="ModalSubInventory.hide()">
      <span aria-hidden="true" class="my-auto text-white"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Transaction Date</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Organization Code</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Source Code</label>
          <input type="date" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Item Number</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Sub-Inventory Code</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Action</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Transaction Quantity</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Transaction UOM</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Transaction Type Name</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Use Current Code</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Cost Component Code</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label class="form-control-label">Cost</label>
          <input type="text" class="form-control form-control-sm" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <div class="card" name="Items">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <h2>Items List</h2>
                  <label>
                    Show
                    <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
                      (change)="entriesChange($event)">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="-1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>

            <ngx-datatable class="bootstrap selection-cell" [footerHeight]="50"
              [rowHeight]="auto" [limit]="entries != -1 ? entries : undefined" [rows]="tableShowStock"
              (activate)="onActivate($event)">

              <ngx-datatable-column maxWidth="40">
                <ng-template ngx-datatable-header-template>
                  <input type="checkbox">
                </ng-template>

                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div>
                    <input type="checkbox" id="customCheck+{{tableShowStock.id}}" (change)="checkRow(row)"
                      [(ngModel)]="tableShowStock.isTick">
                    <label for="customCheck+{{tableShowStock.id}}">
                    </label>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="No" [width]="80" id="datatable-header-cell">
                <ng-template let-rowIndex="rowIndex" let-row="tableShowStock" ngx-datatable-cell-template>
                  <strong>{{ rowIndex + 1 }}</strong>
                </ng-template>
              </ngx-datatable-column>

              <div class="col-md-6">
                <ngx-datatable-column [width]="160" [resizeable]="false">
                  <ng-template ngx-datatable-header-template id="datatable-header-cell">
                    <span>Item</span>
                  </ng-template>

                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="text" class="form-control" value="{{row.delivery_date}}" readonly />
                  </ng-template>
                </ngx-datatable-column>
              </div>

              <div class="col-md-6">
                <ngx-datatable-column [width]="160" [resizeable]="false">
                  <ng-template ngx-datatable-header-template id="datatable-header-cell">
                    <span>Description</span>
                  </ng-template>

                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="text" class="form-control" value="{{row.delivery_date}}" readonly />
                  </ng-template>
                </ngx-datatable-column>
              </div>

              <div class="col-md-6">
                <ngx-datatable-column [width]="160" [resizeable]="false">
                  <ng-template ngx-datatable-header-template id="datatable-header-cell">
                    <span>Quantity</span>
                  </ng-template>

                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="text" class="form-control" value="{{row.delivery_date}}" readonly />
                  </ng-template>
                </ngx-datatable-column>
              </div>

            </ngx-datatable>
          </div>


        </div>
      </div>

      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
        <p style="color: white"> Loading... </p>
      </ngx-spinner>

    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col text-right">
          <button class="btn btn-danger" (click)="ModalSubInventory.hide()">close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
