<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"> </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-padding">
    <h4 class="ion-text-center ion-padding">Service History</h4>
    <ion-list class="line-input">
      <form [formGroup]="servicehistoryFormGroup">
        <ion-item>
          <ion-label position="stacked">Service History Type</ion-label>
          <ion-select (ionChange)="onChangeServiceHistory($event.target.value)">
            <ion-select-option *ngFor="let serHis of ServiceHistoryList" [value]="serHis.id">
              {{serHis.service_hist_desc}}</ion-select-option>
          </ion-select>
        </ion-item>

        <div *ngIf="questionAndAnswerDiv == '1'">
          <!-- <div> -->
          <ion-item *ngFor="let qna of questionAndAnswerData">
            <ion-label position="stacked">{{qna.question.question_desc}}</ion-label>
            <ion-select (ionChange)="safeDataToArray($event.target.value,qna)" required>
              <ion-select-option>Please Select</ion-select-option>
              <ion-select-option *ngFor="let ans of qna.answer" [value]="ans.answer_cd">{{ans.answer_text}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="questionAndAnswerDowntimeDiv == '1'">
          <ion-item>
            <ion-label position="stacked">Start Date Time</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" pickerFormat="YYYY-MM-DD HH:mm:ss"
              (ionChange)="saveFailureDontimeArray($event.target.value,'start')"></ion-datetime>
            <!-- <ion-input type="datetime-local" (click)="saveFailureDontimeArray($event.target.value,'start')" required> -->
            <!-- </ion-input> -->
          </ion-item>

          <ion-item>
            <ion-label position="stacked">End Date Time</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" pickerFormat="YYYY-MM-DD HH:mm:ss"
              (ionChange)="saveFailureDontimeArray($event.target.value,'end')"></ion-datetime>
            <!-- <ion-input type="datetime-local" (click)="saveFailureDontimeArray($event.target.value,'end')" required> -->
            <!-- </ion-input> -->
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Downtime Reason</ion-label>
            <ion-select (ionChange)="saveFailureDontimeArray($event.target.value,'reason')" required>
              <ion-select-option value="PL">Planned</ion-select-option>
              <ion-select-option value="NPL">Not Planned
              </ion-select-option>
            </ion-select>
            <!-- <ion-input type="text" (ionChange)="saveFailureDontimeArray($event.target.value,'reason')" required>
            </ion-input> -->
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Comment</ion-label>
            <ion-input type="text" (keyup)="saveFailureDontimeArray($event.target.value,'comment')" required>
            </ion-input>
          </ion-item>
        </div>

        <div *ngIf="questionAndAnswerFailureDiv == '1'">
          <ion-item>
            <ion-label position="stacked">Failure Cause</ion-label>
            <ion-select (ionChange)="saveFailureDontimeArray($event.target.value,'type')" required>
              <ion-select-option>Please Select</ion-select-option>
              <ion-select-option *ngFor="let ansType of failureTypeData" [value]="ansType.failure_type">
                {{ansType.failure_type}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Failure Mode</ion-label>
            <ion-select (ionChange)="saveFailureDontimeArray($event.target.value,'mode')" required>
              <ion-select-option>Please Select</ion-select-option>
              <ion-select-option *ngFor="let ansMode of failureModeData" [value]="ansMode.failure_mode">
                {{ansMode.failure_mode}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Failure Repair</ion-label>
            <ion-select (ionChange)="saveFailureDontimeArray($event.target.value,'repair')" required>
              <ion-select-option>Please Select</ion-select-option>
              <ion-select-option *ngFor="let ansRepair of failureRepairData" [value]="ansRepair.failure_repair">
                {{ansRepair.failure_repair}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Failure Component</ion-label>
            <ion-select (ionChange)="saveFailureDontimeArray($event.target.value,'component')" required>
              <ion-select-option>Please Select</ion-select-option>
              <ion-select-option *ngFor="let ansComp of failureComponentData" [value]="ansComp.failure_comp">
                {{ansComp.failure_comp}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Remark</ion-label>
            <ion-input type="text" (keyup)="saveFailureDontimeArray($event.target.value,'remark')" required>
            </ion-input>
          </ion-item>

        </div>

      </form>
    </ion-list>

    <div class="ion-text-center">
      <ion-button color="light" (click)="clickBack()">Cancel</ion-button>
      <ion-button color="primary" (click)="presentAlertConfirm()">Save</ion-button>
    </div>
  </div>
</ion-content>