<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6 class="card-title text-uppercase text-muted mb-0">
                    Available Stock Quantity
                  </h6>

                  <span class="h2 font-weight-bold mb-0">
                    350,897
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-white text-green rounded-circle shadow"
                  >
                    <i class="fas fa-tasks"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6 class="card-title text-uppercase text-muted mb-0">
                    Expected Deliveries to Receive
                  </h6>

                  <span class="h3 font-weight-bold mb-0">2,356</span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-white text-orange rounded-circle shadow"
                  >
                    <i class="fas fa-spinner"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6 class="card-title text-uppercase text-muted mb-0">
                    Last Stock Count Date
                  </h6>

                  <span class="h2 font-weight-bold mb-0">
                    29 May 2020
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-white text-red rounded-circle shadow"
                  >
                    <i class="fas fa-stopwatch"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h6 class="card-title text-uppercase text-muted mb-0">
                    Next Stock Count Date
                  </h6>

                  <span class="h2 font-weight-bold mb-0">
                    01 June 2020
                  </span>
                </div>

                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-white text-indigo rounded-circle shadow"
                  >
                    <i class="fas fa-boxes"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-lg-8 col-xs-12">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h5 class="text-muted ls-1 mb-0">Chart</h5>
          <h5 class="h3 mb-0">Deliveries Received</h5>
        </div>
        <div class="card-body p-0">
          <div id="chartdivone" style="width: 100%; height: 400px;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h5 class="text-muted ls-1 mb-0">Filter</h5>
          <h5 class="h3 mb-0">Select store location</h5>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item"
              *ngFor="let storeLocation of storeLocations"
            >
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="storeLocation.id"
                />
                <label class="custom-control-label" [for]="storeLocation.id">{{
                  storeLocation.title
                }}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h5 class="text-muted ls-1 mb-0">Chart</h5>
          <h5 class="h3 mb-0">Stock Value Stored</h5>
        </div>
        <div class="card-body p-0">
          <div id="chartdivtwo" style="height: 500px; width: 100%;"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-xs-12">
      <div class="card">
        <div class="card-header py-3 bg-secondary">
          <h5 class="text-muted ls-1 mb-0">Chart</h5>
          <h5 class="h3 mb-0">Stock Quantity Stored Based on Category</h5>
        </div>
        <div class="card-body p-0">
          <div id="chartdivthree" style="height: 500px; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
