<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"> </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <div class="ion-padding">
    <h4 class="ion-text-center ion-padding">Asset Details</h4>
    <ion-list class="line-input">
      <form [formGroup]="workactivityassetFormGroup">
        <ion-item>
          <ion-label position="stacked">Asset ID:</ion-label>
          <ion-input type="text" readonly formControlName="asset_id"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Asset Type:</ion-label>
          <ion-input type="text" readonly formControlName="asset_type"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Badge Number:</ion-label>
          <ion-input type="text" readonly formControlName="badge_number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Detailed Description:</ion-label>
          <ion-textarea rows="5" readonly formControlName="detailed_description"></ion-textarea>
        </ion-item>
      </form>
    </ion-list>

    <ion-list>

      <ion-card-header>Required Service History
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let woacalal of workOrderActivityCompletionAssLocAssLisDataReq">
          <small>*
            {{ woacalal }}</small>
        </div>
      </ion-card-content>
    </ion-list>

    <!-- <div *ngIf="workactivityassetFormGroup.value.badge_number"> -->
    <div>
      <ion-item lines="none">
        <ion-label class="ion-text-start ion-no-padding">Service History</ion-label>
        <ion-button class="ion-text-end" (click)="clickAddServiceHistory(workactivityasset)">Add</ion-button>
      </ion-item>

      <!-- list of required -->
      <div *ngFor="let woacalalReq of workOrdActComAssLocAssLisReq">
        <ion-card>
          <ion-card-header>
            <ion-fab horizontal="end">
              <!-- <ion-fab-button size="small" color="primary" (click)="clickEdit(workactivityasset)">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button> -->
              <!-- <ion-fab-button size="small" color="danger" (click)="clickRemove(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button> -->
              <!-- <ion-icon color="secondary" name="close-circle"></ion-icon> -->
            </ion-fab>
            <ion-card-title>Service History Type
              <ion-icon color="success" name="checkmark-circle"></ion-icon>
              <!-- <ion-icon color="secondary" name="close-circle"></ion-icon> -->
            </ion-card-title>
            <ion-card-subtitle>{{ woacalalReq.service_history_type }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>

      <!-- list of optional data -->
      <div *ngFor="let woacalalNot of worOrdActComAssLocAssLisNot">
        <ion-card> 
          <ion-card-header>
            <ion-fab horizontal="end">
              <!-- <ion-fab-button size="small" color="primary" (click)="clickEdit(workactivityasset)">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button> -->
              <!-- <ion-fab-button size="small" color="danger" (click)="clickRemove(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-fab-button> -->
              <!-- <ion-icon color="secondary" name="close-circle"></ion-icon> -->
            </ion-fab>
            <ion-card-title>Service History Type
              <!-- <ion-icon color="danger" name="checkmark-circle"></ion-icon> -->
              <!-- <ion-icon color="secondary" name="close-circle"></ion-icon> -->
            </ion-card-title>
            <ion-card-subtitle>{{ woacalalNot.service_history_type }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <div class="ion-text-center ion-padding">
      <small>*Note: Fulfill all <b>REQUIRED</b> service history before submitting the work
        activity.</small><br />
      <ion-button color="light" (click)="clickBack()">Back</ion-button>
      <ion-button *ngIf="workOrderActivityCompletionAssLocAssLisData != []" color="primary"
        (click)="submit()">Submit
      </ion-button>
      <ion-button *ngIf="workOrderActivityCompletionAssLocAssLisData == []" color="secondary"
        disabled>Submit
      </ion-button>
      <!-- <ion-button *ngIf="workOrderActivityCompletionAssLocAssLis != []" color="primary" (click)="submit()">Submit
      </ion-button> -->
    </div>
  </div>
</ion-content>