<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="homePage('/technical/tabs/tab1')">
        <ion-icon
          src="../../../../assets/icon/air-selangor-icon.svg"
          style="font-size: 2rem;"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold;">
      MAINTENANCE WORK
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge
          size="small"
          color="danger"
          style="position: absolute; right: -5px; top: 1px;"
          >{{ notificationService.totalnotificationbyuser }}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <ion-card (click)="openPage('technical/maintenance-work-detail', 'CM')">
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Corrective Maintenance (CM)
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cmArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cmArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cmArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="openPage('technical/maintenance-work-detail', 'PM')">
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Preventive Maintenance (PM)
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pmArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pmArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pmArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <ion-card
          (click)="openPage('technical/maintenance-work-detail', 'ITC')"
        >
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Installation Testing Commissioning
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(itcArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(itcArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(itcArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card
          (click)="openPage('technical/maintenance-work-detail', 'PdM')"
        >
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Predictive Maintenance (PdM)
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pdmArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pdmArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(pdmArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <ion-card
          (click)="openPage('technical/maintenance-work-detail', 'Disposal')"
        >
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Disposal
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(dArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(dArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(dArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card
          (click)="openPage('technical/maintenance-work-detail', 'Compliance')"
        >
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Compliance
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(cArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6">
        <ion-card
          (click)="openPage('technical/maintenance-work-detail', 'Redesign')"
        >
          <ion-card-content class="ion-text-center">
            <div class="ion-padding-top">
              Redesign
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <ion-badge color="success"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(rArray, 'NW') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="warning"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(rArray, 'IP') }}</span
                    ></ion-badge
                  >
                </ion-col>
                <ion-col size="4">
                  <ion-badge color="danger"
                    ><span style="color: white;"
                      >{{ calculateTotalStatus(rArray, 'BL') }}</span
                    ></ion-badge
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
