<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios" class="ion-no-border toolbar-core">
    <ion-buttons slot="start">
      <ion-button (click)="clickBack()">
        <ion-icon src="../../../../assets/icon/air-selangor-icon.svg" style="font-size: 2rem"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-weight: bold"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNotification()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge size="small" color="danger" style="position: absolute; right: -5px; top: 1px">
          {{ notificationService.totalnotificationbyuser }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-core ion-padding-bottom">
  <div class="ion-padding" *ngIf="segmentModal == 'first'">
    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button (click)="scanQrCode()">
          <ion-icon name="scan"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="takeCamera()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->

    <!-- <ion-grid *ngIf="!capturedSnapURL">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <div>
            <ion-img src="assets/image/no-image.png"></ion-img>
          </div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="capturedSnapURL">
      <img [src]="capturedSnapURL" />
    </ion-card> -->

    <ion-list class="ion-padding line-input" style="padding-top: 100px">
      <form [formGroup]="workrequestFormGroup">
        <ion-item>
          <ion-label position="stacked">Asset Description</ion-label>
          <ion-input type="text" formControlName="asset_description" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Location</ion-label>
          <ion-input type="text" formControlName="location" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Work Request Description</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Detailed Description</ion-label>
          <ion-textarea rows="3" formControlName="long_description"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Required By Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" formControlName="required_by_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Downtime Start Date Time</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD HH:mm" formControlName="downtime_start">
          </ion-datetime>
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Downtime Start</ion-label>
          <ion-datetime displayFormat="HH:mm" placeholder="Time"></ion-datetime>
        </ion-item> -->

        <ion-item>
          <ion-label position="stacked">Planner</ion-label>
          <ion-select formControlName="planner">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option *ngFor="let plan of plannerData" [value]="plan.planner">
              {{plan.description}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Work Class</ion-label>
          <ion-select formControlName="work_class">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option *ngFor="let wcd of workClassData" [value]="wcd.name">
              {{wcd.name}}
            </ion-select-option>
            <!-- <ion-select-option value="CAPITAL">CAPITAL</ion-select-option>
            <ion-select-option value="PLANNED">PLANNED</ion-select-option>
            <ion-select-option value="UNPLANNED">UNPLANNED</ion-select-option> -->
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Work Category</ion-label>
          <ion-select formControlName="work_category">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option *ngFor="let wcatd of workCategoryData" [value]="wcatd.work_category">
              {{wcatd.work_category}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Work Priority</ion-label>
          <ion-select formControlName="work_priority">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option value="01">01 - Low (01)</ion-select-option>
            <ion-select-option value="02">02 - Low (02)</ion-select-option>
            <ion-select-option value="03">03 - Medium (03)</ion-select-option>
            <ion-select-option value="04">04 - High (04)</ion-select-option>
            <ion-select-option value="05">05 - High (05)</ion-select-option>
            <ion-select-option value="06">06 - Very High (06)</ion-select-option>
            <ion-select-option value="07">07 - Very High (07)</ion-select-option>
            <ion-select-option value="08">08 - Very High (08)</ion-select-option>
            <ion-select-option value="09">09 - Very High (09)</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Requestor</ion-label>
          <ion-input type="text" formControlName="requestor"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Owning Organization</ion-label>
          <ion-select formControlName="owning_access_group">
            <ion-select-option value="">Please select</ion-select-option>
            <ion-select-option *ngFor="let ownOrga of owningOrganisationData" [value]="ownOrga.description">
              {{ownOrga.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-list>

    <div class="ion-text-center ion-padding">
      <ion-button color="light" (click)="clickBack()">Cancel</ion-button>
      <ion-button (click)="changeSegment('second')">Next</ion-button>
    </div>
  </div>

  <div class="ion-padding" *ngIf="segmentModal == 'second'">
    <h4 class="ion-text-center ion-padding">Contact Informtion</h4>

    <ion-list class="ion-padding line-input">
      <form [formGroup]="workrequestFormGroup">
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input type="text" formControlName="first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input type="text" formControlName="last_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Primary Phone</ion-label>
          <ion-input type="tel" formControlName="primary_phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Mobile Phone</ion-label>
          <ion-input type="tel" formControlName="mobile_phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Home Phone</ion-label>
          <ion-input type="tel" formControlName="home_phone"></ion-input>
        </ion-item>
      </form>
    </ion-list>

    <div class="ion-text-center ion-padding">
      <ion-button color="light" (click)="changeSegment('first')">Back</ion-button>
      <ion-button *ngIf="process != 'view'" (click)="submit()">Submit</ion-button>
    </div>
  </div>
</ion-content>